<div class="dropdown" id="info-menu">
    <a class="button is-large is-info is-rounded" id="info-menu-btn">
        <span class="icon">
            <i class="fas info-circle"></i>
        </span>
    </a>
    <div class="dropdown-menu animated zoomIn" id="dropdown-menu2" role="menu">
        <div class="triangle"></div>
        <div class="dropdown-content">
            <div class="dropdown-item">
                <p><strong>HINT:</strong> Drag input options from right pane to the task canvas</p>
            </div>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
                Menu Item 1
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
                Menu Item 2
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
                Menu Item 3
            </a>
        </div>
    </div>
</div>