<div class="side-menu">
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Options
                </h1>
            </div>
        </div>
    </section>
    <section class="draggable-options-container">
        <div class="card task-input">
            <div class="card-content">
                <div class="content">
                    <input class="input is-primary" type="text" placeholder="Task Input">
                </div>
            </div>
        </div>
        <div class="card comments-input">
            <div class="card-content">
                <div class="content">
                    <textarea class="textarea is-primary" placeholder="Comment Box" rows="1"></textarea>
                </div>
            </div>
        </div>
        <div class="card date-input">
            <div class="card-content">
                <div class="content">
                    <input class="input is-primary flatpickr" type="text" placeholder="Due Date">
                </div>
            </div>
        </div>
        <div class="card files-input">
            <div class="card-content">
                <div class="content">
                    <div class="field">
                        <div class="file is-centered is-primary">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card disable-drag">
            <div class="card-content">
                <div class="content assignee-container">
                    <div class="dummy assignee-input">
                        <img class="image" src="https://bulma.io/images/placeholders/128x128.png">
                        <p>User Name</p>
                    </div>
                    <div class="dummy assignee-input">
                        <img class="image" src="https://bulma.io/images/placeholders/128x128.png">
                        <p>User Name</p>
                    </div>
                    <div class="dummy assignee-input">
                        <img class="image" src="https://bulma.io/images/placeholders/128x128.png">
                        <p>User Name</p>
                    </div>
                    <div class="dummy assignee-input">
                        <img class="image" src="https://bulma.io/images/placeholders/128x128.png">
                        <p>User Name</p>
                    </div>
                    <div class="dummy assignee-input">
                        <img class="image" src="https://bulma.io/images/placeholders/128x128.png">
                        <p>User Name</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>